body {
  font-family: "Open Sans", sans-serif !important;
  font-size: 20px;
  min-height: 1vh;
}

.heading-text {
  color: #4141a5;
  font-size: 50px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.sub-heading-text {
  color: #4141a5;
  font-size: 40px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

.p-heading {
  color: #4141a5;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.primary-btn {
  background-color: #fd5056;
  color: #fff;
  width: 200px;
  height: 50px;
  padding: 7px 37px 12px;
  font-size: 22px;
}

.primary-btn:hover {
  background-color: #df6f73;
  color: #fff;
}

.secondary-btn {
  background-color: #4141a5;
  font-size: 20px;
  color: #ddd2d2;
  font-weight: 700;
  padding: 5px;
  width: 100px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.secondary-btn:hover {
  background-color: #7878ee;
  color: #ddd2d2;
}

#mainNav {
  padding-top: 0;
  min-height: 70px;
  margin-top: -10px;
}

#mainNav .container {
  background-color: #fff;
  position: relative;
}

#mainNav .container .navbar-brand {
  width: 280px;
  height: 60px;
}

#mainNav .container .navbar-brand img {
  width: 100%;
}

#mainNav .container .navbar-toggler {
  color: #8a7c7c;
  border: 1px solid #8a7c7c;
}

#mainNav .container .navbar-nav .nav-link {
  font-weight: 500;
  color: #4141a5;
  font-size: 22px;
}

#mainNav .container .navbar-nav .nav-link.active {
  font-weight: bold;
}

#mainNav .container .navbar-nav .nav-link:hover {
  color: #7878ee;
  font-size: 22px;
}

#mainNav .container .navbar-nav .secondary-btn {
  margin-bottom: -20px;
}

header.heading {
  min-height: 650px;
  padding-top: 12rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/image/background-header.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.heading .big-heading {
  color: #fff;
  line-height: 4rem;
  margin-bottom: 25px;
  padding: 10px;
}

header.heading .p-heading {
  color: #fff;
}

#section-networks {
  margin-top: 70px;
  margin-bottom: 40px;
}

#section-networks .container .img-partners {
  max-width: 100%;
}

.section-popular {
  margin-top: 40px;
}

.section-popular .popular-heading {
  margin-bottom: 80px;
}

#section-popular-content .card-travel {
  min-height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 40px;
}

#section-popular-content .card-travel .travel-country {
  color: #fff;
  font-size: 18px;
}

#section-popular-content .card-travel .travel-location {
  color: #fff;
  font-size: 26px;
}

#section-popular-content .card-travel .travel-btn .btn-primary {
  background-color: #fd5056;
  color: #fff;
  width: 180px;
  font-size: 22px;
  border: none;
}

#section-popular-content .card-travel .travel-btn .btn-primary:hover {
  background-color: #df6f73;
  color: #fff;
}

#section-testimonial {
  margin: 80px 0;
}

#section-testimonial .testimonial-cards .testimonial-card {
  min-height: 532px;
  padding: 50px 45px 35px;
}

#section-testimonial .testimonial-cards .testimonial-card .card-content .testimonial-name {
  font-size: 22px;
  font-weight: 600;
  color: #4141a5;
  margin: 20px 0;
}

#section-testimonial .testimonial-cards .testimonial-card .card-content .trip-to-tittle {
  margin-top: 85px;
}

#section-testimonial .testi-card {
  margin-top: 38px;
}

#section-testimonial .get-started-btn {
  margin-top: 70px;
}

#section-testimonial .get-started-btn .need-help-btn {
  background-color: #e6e2de;
}

#section-testimonial .get-started-btn .need-help-btn:hover {
  color: black;
  background-color: #fff;
}

#section-footer {
  margin-top: 20px;
}

#section-footer footer {
  border-top: 1px solid #c5bebe;
  padding: 20px 0 0;
  font-size: 18px;
}

.bg-up {
  min-height: 300px;
  background-color: #e4e6eb;
}

#section-details {
  margin-top: -140px;
}

#section-details .card-travel-detail {
  padding: 0;
}

#section-details .card-travel-detail .card-detail {
  border-radius: 12px;
  padding: 35px 35px 25px;
}

#section-details .card-travel-detail .card-detail .gallery .img-container .xzoom {
  max-width: 100%;
}

#section-details .card-travel-detail .card-detail .gallery .zoom-prev {
  padding-left: 8px;
}

#section-details .card-travel-detail .card-detail .detail-header {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  color: #4141a5;
  font-weight: bold;
}

#section-details .card-travel-detail .card-detail .detail-sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #8a7c7c;
}

#section-details .card-travel-detail .card-detail .explain-travel .explain-heading {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  color: #4141a5;
  font-weight: 600;
}

#section-details .card-travel-detail .card-detail .explain-travel .explain-paragraph {
  font-size: 18px;
  font-weight: 400;
  color: #c5bebe;
  line-height: 1.8rem;
}

#section-details .card-travel-detail .card-detail .event-details h5 {
  font-size: 18px;
  font-weight: 600;
  color: #4141a5;
}

#section-details .card-travel-detail .card-detail .event-details p {
  font-size: 14px;
  color: #c5bebe;
  font-weight: 400;
}

#section-details .card-members-are-going {
  border-radius: 12px;
}

#section-details .card-members-are-going .members-are-going .member-header {
  font-size: 22px;
  font-weight: 500;
}

#section-details .card-members-are-going .members-are-going .trip-info {
  font-size: 20px;
  font-weight: 600;
}

#section-details .card-members-are-going .members-are-going .table-trip-info td {
  text-align: right;
  padding-left: 2.5rem;
}

#section-details .card-members-are-going .members-are-going .table-trip-info {
  line-height: 40px;
}

#section-details .card-members-are-going .members-are-going .table-trip-info th {
  font-size: 18px;
  font-weight: 300;
}

#section-details .card-members-are-going .members-are-going .table-trip-info td {
  font-size: 18px;
  font-weight: 300;
  color: #8a7c7c;
}

#section-details .card-members-are-going .btn-join-now {
  background-color: #fd5056;
  color: #fff;
  height: 45px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.checkout-page .navbar .navbar-logo {
  min-height: 70px;
  padding: 16px 0 0;
  width: 210px;
}

.checkout-page .navbar .navbar-logo .navbar-brand {
  width: 100%;
  padding: 0;
}

.checkout-page .navbar .nav-text {
  margin-top: 25px;
  margin-left: 20px;
  width: 400px;
}

.checkout-page .add-members {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 600;
  color: #4141a5;
}

.checkout-page .inline-form .btn-outline-secondary {
  padding-right: 0;
  padding-left: 0;
}

.checkout-page .inline-form .btn-col {
  width: 140px;
}

.checkout-page .inline-form .btn-col .btn-checkout {
  background-color: #fd5056;
  width: 100%;
  color: #fff;
}

.checkout-page .note .note-header {
  color: #4141a5;
  font-size: 16px;
  font-weight: 600;
}

.checkout-page .note p {
  font-size: 14px;
}

.checkout-page .card-members .card-members-checkout .member-header {
  font-size: 26px;
  font-weight: 600;
  color: #4141a5;
  margin-bottom: 20px;
}

.checkout-page .card-members .card-members-checkout tr {
  line-height: 40px;
}

.checkout-page .card-members .payment-instruction .payment-header {
  font-size: 22px;
  font-weight: 500;
  color: #4141a5;
}

.checkout-page .card-members .payment-instruction .bank {
  color: #4141a5;
  font-size: 20px;
  font-weight: bold;
}

.checkout-page .card-members .btn-join-now {
  background-color: #fd5056;
  color: #fff;
}

.checkout-page .ruang-kosong {
  min-height: 460px;
}

.success-checkout-page .navbar .navbar-logo {
  min-height: 70px;
  padding: 16px 0 0;
  width: 210px;
}

.success-checkout-page .navbar .navbar-logo .navbar-brand {
  width: 100%;
  padding: 0;
}

.success-checkout-page .navbar .nav-text {
  margin-top: 25px;
  margin-left: 20px;
  width: 400px;
}

.success-checkout-page .success-checkout .image-success {
  margin-top: 180px;
}

.success-checkout-page .success-checkout .image-success img {
  width: 220px;
  height: 220px;
}

.success-checkout-page .success-checkout .success-text .sucess-header {
  font-size: 26px;
  font-weight: 600;
  color: #4141a5;
}

.success-checkout-page .success-checkout .success-text p {
  font-size: 18px;
  font-weight: 500;
}

.success-checkout-page .success-checkout .back-to-home {
  margin-top: 30px !important;
}

.success-checkout-page .success-checkout .back-to-home .btn-back {
  width: 220px;
  background-color: #fd5056;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 980px) {
  body {
    font-size: 14px;
    color: #8a7c7c;
  }
  .sub-heading-text {
    font-size: 34px;
  }
  .p-heading {
    color: #8a7c7c;
    font-weight: 500;
  }
  #mainNav .container {
    margin-top: -14px;
    padding-top: 20px;
  }
  #mainNav .container .navbar-brand {
    padding-top: 12px;
    width: 50%;
  }
  #mainNav .container .navbar-brand img {
    width: 100%;
  }
  #mainNav .container .navbar-nav .nav-link {
    font-size: 18px;
  }
  #mainNav .container .navbar-nav .secondary-btn {
    font-size: 18px;
    color: #fff;
  }
  .heading {
    max-height: 600px;
    padding-top: 150px;
  }
  .heading .big-heading {
    font-size: 36px;
    margin-bottom: 0;
  }
  .heading .p-heading {
    font-size: 14px;
  }
  .heading .primary-btn {
    width: 160px;
    font-size: 16px;
    height: 40px;
  }
  #section-networks .text-heading {
    margin-top: -20px;
    text-align: center;
    margin-bottom: 40px;
  }
  #section-popular .popular-heading {
    margin: 35px 0;
    padding-top: 15px;
  }
  #section-popular-content .section-popular-travel .card-travel {
    margin: 10px 0;
    min-height: 420px;
  }
  #section-testimonial .container .testi-card {
    margin-top: 20px;
    margin-top: 0;
  }
  #section-testimonial .container .testi-card .testimonial-card {
    width: 100%;
    margin: 10px auto;
  }
  #section-testimonial .container .get-started-btn {
    margin-top: 40px;
  }
  #section-testimonial .container .get-started-btn .need-help-btn {
    display: none;
  }
  #section-testimonial .container .get-started-btn .btn-sm-need-help {
    font-size: 16px;
  }
  #section-testimonial .container .get-started-btn .btn-help-sm {
    display: block;
    text-decoration: underline;
  }
  #section-details .container .card-travel-detail {
    margin-top: -50px;
  }
  #section-details .container .card-travel-detail .gallery .xzoom {
    display: none;
  }
  #section-details .container .card-travel-detail .xzoom-gallery {
    width: 100%;
  }
  #section-details .container .card-members {
    padding: 0;
  }
  #section-details .container .card-members .card-members-are-going {
    margin-top: 20px;
  }
  .checkout-page #mainNav {
    max-height: 70px;
  }
  .checkout-page #mainNav .container {
    padding: 0;
    margin: 0;
  }
  .checkout-page #mainNav .nav-text {
    display: none;
  }
  .checkout-page .ruang-kosong {
    min-height: 50px;
  }
  .checkout-page .table-member {
    border: none;
  }
  .checkout-page .table-member tr {
    line-height: 32px !important;
  }
  .success-checkout-page #mainNav {
    max-height: 70px;
  }
  .success-checkout-page #mainNav .container {
    padding: 0;
    margin: 0;
  }
  .success-checkout-page #mainNav .nav-text {
    display: none;
  }
  .success-checkout-page #success-checkout .image-success {
    margin-top: 100px;
  }
  .success-checkout-page #success-checkout .success-text .sucess-header {
    font-size: 26px;
    font-weight: 600;
    color: #4141a5;
  }
  .success-checkout-page #success-checkout .success-text p {
    font-size: 18px;
    margin-top: 18px !important;
  }
  .success-checkout-page #success-checkout .back-to-home .btn-back {
    background-color: #fd5056;
    color: #fff;
    font-size: 18px;
    width: 160px;
  }
  #section-footer .footer {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */